.iframeCloseButton {
    position: fixed;
    top: 2px;
    left: 2px;
    display: block;
    z-index: 2;
    display: flex
}
.bigCloseButton{
    margin-right: 5px;
}
@media screen and (min-width: 350px) {
    .iframeCloseButton {
        display: none
    }

}
@media screen and (max-width: 350px) {
    .bigCloseButton {
        display: none
    }

}

