

.navCategories {
  background-color: #F0F0F0;
  height: 80px;
  display: flex;
  padding-left: 10%;
  width: 100%;



}

.buttonCategories{
  background-color:	#FFFAFA;
  border: none;
  padding: 0 27px 0 27px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 2%;
  border-radius: 4px;
  font-family: 'Neuton', serif;
  -webkit-box-shadow: 9px 9px 8px -11.5px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 8px -11.5px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 8px -11.5px rgba(0,0,0,0.75);
  font-size: 18px;
  letter-spacing: 0.2px;


}

.buttonCategories p {
    color: black;
    text-decoration: none;

}
.buttonCategories:hover {
     color: black;
     text-decoration:none;
     cursor:pointer;
}




.imageUserLogin{
  height: 60%;
  width: 60%;
  margin-top: 7%;

}
.userProfileLogo p{
  font-family: 'Neuton', serif;
  letter-spacing: 0.2px;



}

@media (max-width: 700px) {

  .navCategories {
    flex-wrap: wrap;
    height: 0%;
    width: 100%;
  }

  .buttonCategories {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px 20px 0px 20px;
  }

  .userProfileLogo p{
    display: none;
  }





}
