.generalCloseButton {
    position: absolute;
    top: 100px;
    right: 10px;
    display: block;
    z-index: 2;
}

.iframeCloseButton {
    position: fixed;
    top: 2px;
    left: 2px;
    display: block;
    z-index: 2;
    display: flex
}

@media screen and (max-width: 425px) {
    .generalCloseButton {
        top: 40px;
    }
}
@media screen and (max-width: 350px) {
    .generalCloseButton {
        display: none;
    }
}

@media screen and (min-width: 350px) {
    .iframeCloseButton {
        display: none
    }

}